.env
db-samples/*
nginx
mysqldb
mariadb
pgadmin4
postgres
mongodb
rabbitmq
redis
redisinsight
wiremock

openldap
minio
mssqldb
gitlab-ce-5.2
nexus3
oracledb19c
oracledb12c
osticket
tmp

!db-samples/mongo-sample-dataset/script.sh
!db-samples/mysql-sample-data/mysql-import-script.sh
!db-samples/postgres-sample-data/postgres-import-script.sh